#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*::selection {
  background: #fff;
  color: #242424;
}

.header {
  font-size: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 100%;
}

.github {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  background-color: #1e1e1f;
  padding: 1.5rem;
  border-radius: 1.125rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all .25s ease;
  cursor: pointer;
}

.github:hover {
  border-color: rgba(255, 255, 255, 0.25);
  background-color: #242425;
}

.github span {
  font-size: 1.5rem;
  font-family: "Cascade Code", monospace;
  user-select: none;
  color: rgba(255, 255, 255, 0.85);
}